.cosmeticBanner img {
    width: 100%;
    height: auto;
}

table {
    width: 92%;
    margin: 0 auto;
    justify-content: center;
    margin-left: 60px;
    margin-top: 30px;
    border-spacing: 10px;
    border-collapse: separate;
  }

  .table-row{
    display: flex;
    flex-direction: row;
  }
  
  td {
    border: none;
    height: 440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff;
    padding: 20px;
  }
  
  .item-grid .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .item :hover{
    transform: none;
    box-shadow: none;
  }
  
  .item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
  }
  
  .item-content img{
    height: 100%;
    width: auto;
    margin-bottom: 10px;
    margin-top: -60px;
    align-items: center;
  }
  
  .item-content p {
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
    color: #000000;
    margin: 0 10px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  #price {
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
    color: #05b917;
    margin: 0 10px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    margin-top: 15px;
  }
  
  .item-content button {
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 180px;
  }
  
  .item-content button:hover {
    background: #008000; /* Change the background color to green */
    color: #ffffff; /* Change the text color to white */
    outline: none;
    box-shadow: none;
  }
  
  .item-content button:hover i {
    color: #ffffff; /* Change the icon color to white */
    outline: none;
    box-shadow: none;
  }
